<h1>User List</h1>  

<table>  
  <tr>  
    <th>ID</th>  
    <th>Name</th>  
    <th>Email</th>  
    <th>Password</th>  
  </tr>  
  <% @users.each do |user| %>  
    <tr>  
      <td><%= user.id %></td>  
      <td><%= user.name %></td>  
      <td><%= user.email %></td>  
      <td><%= user.password %></td> <!-- Note: Avoid displaying passwords in plain text! -->  
    </tr>  
  <% end %>  
</table>