body {
    background-color: black;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.fun-donotes {
    font-size: 4em;
    transition: transform 0.3s ease;
}

.fun-donotes:hover {
    transform: translateY(-10px);
    text-shadow: 0 0 20px rgb(134, 14, 14);
}